@import 'components/nulling';
@import 'components/fonts';

body {
    font-family: Gotham Pro, sans-serif;
    font-weight: 400;
    color: #243976;
    background-color: #fff
}

@import 'components/header';
@import 'components/main';
@import 'components/who-suits';
@import 'components/who-price';
@import 'components/lessons';
@import 'components/favorite';
@import 'components/comparison';
@import 'components/online-school';
@import 'components/price';
@import 'components/certificate';
@import 'components/carousel';
